name: build pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      actions: write
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "./uv.lock"
      - uses: actions/setup-python@v6
        with:
          python-version-file: "./pyproject.toml"
      - name: install dependencies with UV
        run: uv sync --all-extras --dev --group lint
      - name: lint with UV
        run: uv run ruff check
      - name: test with UV
        run: uv run python -m unittest discover
      - name: Build with UV
        run: uv build
      - name: publish with UV
        run: uv publish
